modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ELEVENLABS_VOICE_ID = "Ky9j3wxFbp3dSAdrkOEv"
EL_API_KEY = "069f805acb411547f8d823645dd91b8e5876260fb24b8ff680c9f01ed7a758e7"
VAPID_PUBLIC_KEY = "BDSSBBEFaJYjf-vLU5gjeGXmle5oZWsw7KqWRkMLbfHNpKNzMTrkkesC1j14kwgMOQIyZmmxfotrdGHCzdTtYNU"
VAPID_PRIVATE_KEY = "lVXb3-ty92jjFfw1UVZym2JTTUVKgMJcx1jiRcB0j9c"
VAPID_EMAIL = "james@winston.app"
OLIVIA_PASSWORD = "ForOlivia"
SUPABASE_URL = "https://lwazyogcgyoivyjfniea.supabase.co"
elevenlabs_api_key = "069f805acb411547f8d823645dd91b8e5876260fb24b8ff680c9f01ed7a758e7"
APP_URL = "https://winston-companion--davidblakelock.replit.app"

[userenv.production]
GOOGLE_REDIRECT_URI = "https://winston-companion--davidblakelock.replit.app/api/auth/callback"
EL_VOICE_ID = "DYkrAHD8iwork3YSUBbs"

[userenv.development]
EL_VOICE_ID = ""

[nix]
channel = "stable-25_05"
